@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.MuiStack-root {
  width: calc(100vw - 175px);
}

#title {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/public/assets/rainier.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

#title h1 {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

#frontpage p {
  padding-bottom: 0.5rem;
}

#frontpage ul {
  padding-left: 20px;
  margin: 2px 0 10px 10px;
}

.article {
  margin: 1rem;
}

.article img {
  box-shadow: 5px 5px 5px black;
}

.article h2 {
  padding: 1rem 0;
}

.article hr {
  margin: 1rem 0;
}

.article p {
  margin: 0.75rem 1rem;
}

.article ul, .article ol {
  padding-left: 20px;
  list-style-position: outside;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

[dir="rtl"] .article ul, [dir="rtl"] .article ol, [dir="rtl"] #frontpage ul {
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 20px;
}

.article ul > ul, .article ol > ol, .article ol > ul, .article ul > ol, .article li > ul, .article li > ol, #frontpage ul > ul, #frontpage ol > ol, #frontpage ol > ul, #frontpage ul > ol, #frontpage li > ul, #frontpage li > ol {
  margin: 0;
}

.article ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.article ul, #frontpage ul {
  list-style-type: disc;
}
.article ul ul, #frontpage ul ul {
  list-style-type: square;
}
.article ul ul ul {
  list-style-type: circle;
}

.article li, #frontpage li {
  display: list-item;
  padding: 0.1rem 0;
}

.MuiTableCell-root {
  vertical-align: top;
}

.article table {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.article table th {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 900;
}

.article tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}